.carousel-inner > .item > img {
  width:100%;
  height:375px;
}

#targetChoice h1, h3 {
text-align: center;
}

.active {
	background-color: gray;
}

.foodForm {
	text-align: center;
}

.buttonCheck .active{
	background-color: orange;
}

h1, h3, #differentButton {
text-align: center;
}

#navbarResponsive {
	padding: 5px 0px;
	margin-right: 1.3%;
}

.navbarButtons {
	width: 130px;
	text-align: center;

}

#buttonSection {
	margin: .5%;
}

#differentButton {
	margin: auto;
	width: 100%;
	height: 50px;
}

#addFavorite {
	margin: auto;
	width: 100%;
	height: 50px;
}

#pickPlace {
	background-color: green;
	border: none;
}

.dropDownButton {
	background-color: green;
	border-color: green;
}

.dropdown {
	margin-left: 1px;
}

.dropDownContent {
	text-align: center;
	padding: 12px 12px;
	width: 200px;
}

#userAddition {
	margin-bottom: 10px;
}

.buttonCheck {
	background-color: gray;
	border: none;
}

#addFavorite {
	border: none;
}

#differentButton {
	border: none;
}

#maincontainer {
	text-align: center;
}

.resultSection {
	padding-bottom: 70px;
}

footer {
	height: 56px;
}
