.carousel-inner > .item > img {
  width:100%;
  height:375px;
}

#targetChoice h1, h3 {
text-align: center;
}

.active {
	background-color: gray;
}

.foodForm {
	text-align: center;
}

.buttonCheck .active{
	background-color: orange;
}

h1, h3, #differentButton {
text-align: center;
}

#differentButton {
	margin: auto;
	width: 100%;
	height: 50px;
}

#addFavorite {
	margin: auto;
	width: 100%;
	height: 50px;
}

#pickPlace {
	background-color: green;
	border: none;
}

.buttonCheck {
	background-color: gray;
	border: none;
}

#addFavorite {
	border: none;
}

#differentButton {
	border: none;
}