.carousel-inner > .item > img {
  width:100%;
  height:375px;
}

#targetChoice h1, h3 {
text-align: center;
}

/*.styleButtons {
	width: 100px;
	height: 50px;
}*/

.active {
	background-color: red;
}

.btn:active {
    background-color: orange;
    color: orange;
}

.foodForm {
	text-align: center;
}

.buttonCheck .active{
	background-color: orange;
}

h1, h3, #differentButton {
text-align: center;
}

#differentButton {
	margin: auto;
	width: 100%;
	height: 50px;
}